<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imageURL}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button"
      class="btn btn-primary" (click)="toggleEditRecipe()">
        Edit recepie
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="$">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.desc}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
<div class="row" *ngIf = "isEditRecipe">
    <div class="col-sm-12 form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" [value]="recipeClone.name" autocomplete="off" (keyup)="recipeClone.name = recName.value" #recName>
    </div>
    <div class="col-sm-12 form-group">
        <label for="desc">Description</label>
        <input type="text" id="desc" class="form-control" [value]="recipeClone.desc" autocomplete="off" (keyup)="recipeClone.desc = recDesc.value" #recDesc>
    </div>
    <div class="col-sm-12 form-group">
        <label for="url">Image Url</label>
        <input type="text" id="url" class="form-control" [value]="recipeClone.imageURL" autocomplete="off" (keyup)="recipeClone.imageURL = recUrl.value" #recUrl> 
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Edit recepie</button>
</div>