<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (ingCreated)="addIngredient($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients">
                <strong>{{ingredient.name}}</strong> ({{ingredient.amount}})
                <button type="button" class="close" aria-label="Close" (click)="removeIngredent(ingredient)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        </ul>
    </div>
</div>

