<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" autocomplete="off" #nameInput>
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-success" (click)="createIngredient()">Add</button>
        </div>
      </div>
      <div class="row">
        <input type="text" id="search" placeholder="Search Ingredient" autocomplete="off" class="form-control" #search (keyup)="onKey(search.value)" />
      </div>
    </form>
  </div>
</div>